/* 수정중 */
/* .selectedDay {
  background-color: #0b3b2d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverDay {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  height: 40px; 
  font-weight: bold;
  background-color: #ffffff; 
  color: #4b4b4b; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.custom-year-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  font-size: small;
}

.custom-month-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}  */
